body {
  font: 300 62.5%/1.5 "Open Sans", sans-serif;
  padding-top: 70px; }

a, a:visited {
  color: #800020; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

p {
  font-size: 1.6rem; }

.navbar {
  background-color: #800020;
  color: white; }

.posts-list article {
  border-bottom: 1px solid #800020;
  padding-bottom: 20px; }
  .posts-list article h2 a {
    color: black; }
  .posts-list article .post-meta {
    font-size: 1.7rem;
    margin: 6px 0; }
    .posts-list article .post-meta .post-author a, .posts-list article .post-meta .post-author a:visited, .posts-list article .post-meta .post-author a:hover {
      font-weight: 600;
      text-decoration: none; }
  .posts-list article .post-body {
    margin-top: 10px; }
  .posts-list article .read-more {
    background-color: #eeeeee;
    font-size: 1.7rem;
    margin-top: 15px;
    padding: 10px 15px; }

.onsugar-box input[type="submit"] {
  font-weight: 600; }
